/* #tmp{background: no-repeat url("../assets/Template/4.jpg");} */

#gl-logo-1 {background-image: url('../assets/gl-logo-1.jpg');}

#f1-txt-1 {background-image: url('../assets/f1-txt-1.png');}
#f2-txt-1 {background-image: url('../assets/f2-txt-1.png');}
#f3-txt-1 {background-image: url('../assets/f3-txt-1.png');}
#ef-txt-1 {background-image: url('../assets/ef-txt-1.png');}
#ef-cta {background-image: url('../assets/ef-cta.png');}