app = "html5-ad-validator"

primary_region = "iad"

[build]
dockerfile = "Dockerfile"

[env]
PORT = "8080"

[[mounts]]
source = "uploads_data"
destination = "/data"

[[services]]
internal_port = 8080
protocol = "tcp"

  [[services.ports]]
  port = 80
  handlers = ["http"]

  [[services.ports]]
  port = 443
  handlers = ["tls", "http"]

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "10s"
    restart_limit = 6
